In [3]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv("spam.csv")
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
df.v1.value_counts()

ham     1018
spam     181
Name: v1, dtype: int64

In [6]:
df['spam']=df['v1'].apply(lambda x: 1 if x=='spam' else 0)

In [7]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,spam
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,0
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,1
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,0

In [8]:
df.drop(['Unnamed: 2', 'Unnamed: 3','Unnamed: 4'], axis=1)

        v1                                                 v2  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0
...    ...                                                ...   ...
1194   ham                                      Ok... C ya...     0
1195  spam  You have 1 new voicemail. Please call 08719181503     1
1196   ham  What he said is not the matter. My mind saying...     0
1197   ham   He also knows about lunch menu only da. . I know     0
1198   ham  Al he does is moan at me if n e thin goes wron...     0

[1199 rows x 3 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train ,y_test =train_test_split(df.v2,df.spam , test_size = 0.2)

In [10]:
x_train[:4]

1082                             Send to someone else :-)
417     FREE entry into our ?250 weekly competition ju...
711     It just seems like weird timing that the night...
154     You are everywhere dirt, on the floor, the win...
Name: v2, dtype: object

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()

x_train_cv= v.fit_transform(x_train.values)
x_train_cv

<959x3235 sparse matrix of type '<class 'numpy.int64'>'
	with 13078 stored elements in Compressed Sparse Row format>

In [12]:
x_train_cv.toarray()[:2][0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [13]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(x_train_cv,y_train)

MultinomialNB()

In [14]:
x_test_cv = v.transform(x_test)

In [15]:
from sklearn.metrics import classification_report

y_pred = model.predict(x_test_cv)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99       207
           1       1.00      0.88      0.94        33

    accuracy                           0.98       240
   macro avg       0.99      0.94      0.96       240
weighted avg       0.98      0.98      0.98       240

In [21]:
email=['New jobs similar to your alertNo matching jobs for: python developer in Guwahati, Assam, India today.See more jobs with broader locations.',
      'Congratulations!A balance of $1000 is available for your Account This transaction may only appear  on your account after validate your info.']

In [22]:
emailss=v.transform(email)
c=model.predict(emailss)

In [25]:
for i in range(0, len(c)):    
    if(c[i]==1):
        print("Spam")
    else:
        print("Not Spam")

Not Spam
Spam